<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>AngularJS</title>
</head>
<body ng-app="app">
    <h2>AngularJs Demo 11</h2>

    <ul ng-controller="nameCrtl">
        <li ng-repeat="name in names">
            {{name}}
        </li>
    </ul>

    <ul ng-controller="nameCrtl">
        <li ng-repeat="name in names | filter: M">
            {{name}}
        </li>
    </ul>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular-animate.js"></script>
    <script>
        const app = angular.module('app', []);
        .controller('nameCtrl', ($scope) => {

                $scrope.names = [
                    'moomcake',
                    'gary',
                    'kvin'
                ]

        });

    </script>
</body>
</html>